* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    /* padding-inline: 8px; */
    min-width: fit-content;
}

.navbar {
    height: 80px;
    min-width: max-content;
    width: 100%;
    text-wrap: nowrap;
    display: flex;
    position: sticky;
    gap: 12px;
    align-items: center;
    padding-right: 20px;
    justify-content: space-between;
    top: 0px;
    background-color: aquamarine;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar>.navbar-title {
    margin-left: 16px;
    font-size: 1.8rem;
    align-self: center;
    font-weight: bold;
}

.navbar .navbar-items a {
    text-decoration: none;
}

.navbar .navbar-items ul {
    padding-left: 0px;
    display: flex;
    gap: 1px;
}

.navbar .navbar-items ul li {
    display: inline;
    text-decoration: none;
    padding: 16px 30px;
    user-select: none;
    box-sizing: border-box;
    border-bottom: 4px solid transparent;
}

.navbar .navbar-items ul li:hover {
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid black;
}

.navbar .navbar-items ul li:active {
    background: default;
    color: black;
}

.navbar .profile {
    padding: 10px;
}

.navbar .profile:hover {
    background: rgba(0, 0, 0, 0.1);
}

.navbar .profile .profile-icon {
    width: 48px;
    height: 48px;
}

.dropdown-profile {
    width: 200px;
    height: fit-content;
    flex-direction:column ;
    align-items: center;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 16px;
    position: absolute;
    right: 28px;
    top: 96px;
    transition: all 1s;
}

.dropdown-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}
.dropdown-profile p{
    padding-block: 8px;
}
.dropdown-profile ul{
    margin-top: 16px;
    border-top: 1px solid black;
    width: 100%;
    padding: 0;
    list-style-type: none;

}
.dropdown-profile ul li{
    padding:8px;
    text-align: center;
    background-color:white;
    border-radius: 4px;
    border-bottom: 1px solid grey;
}
.main {
    display: flex;
    min-width: fit-content;
    min-height: calc(100vh - 80px);
    background-color: bisque;
    padding: 8px;
    gap: 8px;
}

.main>.signin_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: yellow;
    height: 100px;
    margin-top: 200px;
    font-size: 1.7rem;
}

.main>.floating_addnote_button {
    padding: 8px;
    user-select: none;
    position: fixed;
    /* Keeps the button fixed relative to the viewport */
    bottom: 16px;
    /* Positioning from the bottom of the viewport */
    right: 16px;
    /* Positioning from the right of the viewport */
    background-color: yellowgreen;
    width: fit-content;
    border-radius: 6px;
    font-size: 1.4rem;
}

.main>.floating_addnote_button:hover {
    background-color: rgb(138, 184, 47);
}

.main>.container {
    width: 100%;
    height: max-content;
    align-items: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.main>.container>.items {
    /* width: min-content; */
    height: min-content;
    flex-grow: 1;
    flex-basis: 150px;
    flex-shrink: 1;
    border-radius: 8px;
    background-color: rgba(137, 43, 226, 0.8);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    transition: flex 0.4s;
    border: 4px solid transparent;
    user-select: none;
}

.main>.container>.items>h3 {
    text-wrap: nowrap;
    margin-right: 24px;
    margin-block: 8px;
}

.main>.container>.items>p {
    text-wrap: wrap;
    font-size: 1.2rem;
}

.main>.container>.items:hover {
    border: 4px solid grey;
    flex-grow: 2;
}

/* register components for */
.register-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background-size: cover;
    
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200729/pngtree-colorful-flow-background-with-fluid-form-image_372440.jpg'),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.9) 0%, rgba(54, 54, 54, 0.8) 80%);
    background-blend-mode: multiply;
    background-repeat: no-repeat, no-repeat;
}

.register {
    width: 40%;
    height: fit-content;
    border-radius: 8px;
    background-color: #f0f0f0;
    padding: 8px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
}

.register-form {
    padding: 40px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.register-form input {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-block: 8px;

}

.register-form input:focus {
    outline: 2px solid rgba(0, 0, 0, 0.78);
}

.register-form label {
    margin-inline: 16px;
    font-weight: bold;
    font-size: 1rem;
    color: #5b5b5b;
}

.register-form button {

    width: 100%;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #7fffd4;
    margin-block: 8px;
}

.register-form button:focus {
    outline: 1px solid rgba(125, 125, 125, 0.8);
}


/* new note window */
.note-window {
    position: fixed;
    display: none;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    margin: 16px;

    width: fit-content;
    width: 30%;
    min-width: 240px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

@media only screen and (max-width: 500px) {
    .note-window {
        width: 80%;
    }
}

@media only screen and (min-width: 501px) {
    .note-window {
        width: 60%;
    }
}

@media only screen and (min-width: 950px) {
    .note-window {
        width: 45%;
    }
}

.note-window .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #aaa;
    transition: color 0.2s;
}

.note-window .close-icon:hover {
    color: #ff6666;
}

.note-window h2 {
    margin-top: 0;
}

.note-window .form-group {
    margin-bottom: 15px;
}

.note-window .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.note-window .form-group input,
.note-window .form-group textarea {
    width: 100%;
    /* Adjusted to account for padding */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.note-window .form-group textarea {
    height: 150px;

    resize: none;
}

.note-window .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.note-window .buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.note-window .buttons .delete-btn {
    background-color: #ff6666;
    color: #fff;
}

.note-window .buttons .delete-btn:hover {
    background-color: #e55b5b;
}

.note-window .buttons .save-btn {
    background-color: #4caf50;
    color: #fff;
}

.note-window .buttons .save-btn:hover {
    background-color: #45a049;
}

.notes-container {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 10px;
    flex-wrap: wrap;
    background-color: #fff;
    gap: 20px;
    flex: 1 1;
}

.note {
    padding: 20px;
    height: fit-content;
    border: 1px solid black;
    background: yellow;
    border-radius: 8px;
}

.skimmer-card {
    /* width: 300px; */
    display: flex;
    direction: column;
    gap: 10px;

    flex: 1 1 300px;
    padding: 15px;
    height: fit-content;
    flex-wrap: wrap;
    background-color: #e1e1e1;
    border-radius: 4px;
}

.skimmer-card .title {
    width: 30%;
    height: 16px;
    background-color: #d1d1d1;
}

.skimmer-card .description {
    width: 95%;
    height: 16px;
    background-color: #d1d1d1;
}

.skimmer-card .description2 {
    width: 85%;
    height: 16px;
    background-color: #d1d1d1;
}

.search {
    display: flex;
    width: fit-content;
    justify-content: center;
    border-radius: 8px;
    margin: 20px auto;
    border: 1px solid grey;
    overflow: hidden;
}

.search input[type="text"] {
    padding: 16px;
    border: none;
    font-size: 1.3rem;
}

.search input[type="text"]:focus {
    outline: none;
}

.search button {
    padding: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #93d8fd;
    transition: 1s color;
    letter-spacing: 1px;
    overflow: none;
    border: none;
}

.search button:focus {
    outline: none;
    opacity: 0.9;
}

.search button:active {
    background: #87c6e9;
}

/* Login Component */
.login-container {
    box-sizing: border-box;
    display: flex;
    height: max-content;
}

.login-features {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #000;
    justify-content: center;
    padding-inline: 30px;
    width: 50%;
}

.login-features p {
    color: #fff;
    font-size: 3.4rem;
}

.login {
    box-sizing: border-box;
    padding: 20px 20px;
    background: #f0f0f0;
    width: 50%;
}

.login-form {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
}

.login input {
    padding: 10px;
    margin: 10px 0px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login button {
    padding: 10px;
    margin: 20px 0px 10px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #000000e1;
    letter-spacing: 1px;
    background-color: #7fffd4;
    border-radius: 8px;
    border: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-features {
        width: 100%;
        padding-block: 30px;
    }

    .login-features p {
        font-size: 3rem;
    }

    .login {
        width: 100%;
    }

    .login-form {
        padding-block: 30px;
    }
}

.menu {
    height: 200px;
    width: 180px;
}



.otp-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
}
.otp{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: #f0f0f0;
    border-radius: 12px;
}
.otp .otp-pin-container{
    display: flex;
    gap: 10px;
}
.otp .otp-pin-container input{
    width: 50px;
    height: 50px;
    display: flex;
    text-align: center;
    font-size:1.4rem;
    /* justify-content: center;
    align-items: center; */

}
.otp .otp-button{
    padding: 10px;
    margin-block-start: 16px;
    background-color: purple;
    color: white;
    border: none;
    border-radius:8px;
    font-size: 1.2rem;
}

